{% extends 'main_page/base.html' %}
{% load static %}

 {% block content %}



<style>
body {
background: #D7DEED;
}
</style>

<h1 align="center">الفيديوهات المتاحه </h1>
<br>
<br>
<br>
<br>
<div class="container ">
<div class="row">
  <div class="col-sm-6">

      {% for  lesson in object_list %}

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{lesson.name_lesson}}</h5>
        <p class="card-text">{{lesson.description}}</p>
        <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-primary">دخول</a>
      </div>
    </div>


   <br>
    <br>
    <br>

{% endfor %}


  <p> No Video</p>
    </div>
</div>




 {% endblock %}